<h1>Welcome to the world of Pokémon</h1>
<ul>
  <li><%= link_to 'Pokémon', pokemons_path %></li>
  <li><%= link_to 'Trainers', trainers_path %></li>
  <li><%= link_to 'Regions', regions_path %></li>
</ul>